
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" class="logo">
        <ion-img src="../../assets/logo.png" alt="error" class="ion-img"></ion-img>
        <ion-col size="10" offset="1"><span class="text-center">Votre aide pour le transport en commun</span></ion-col>
      </ion-col>
      <ion-col size-sm="8" offset-sm="2">

        <ion-button size="small" class="button" [routerLink]="['/info-bus']">regions </ion-button>
        <ion-button size="small" class="button" [routerLink]="['/itineraire']">ligne/comune</ion-button>
        <ion-button size="small" class="button" [routerLink]="['/perte']">objet perdu </ion-button>
        <ion-button size="small" class="button" [routerLink]="['/cartographie']">client</ion-button>
        <ion-button size="small" class="button" slot="" [routerLink]="['/cartographie']">commune</ion-button>
        <ion-button size="small" class="button" [routerLink]="['/info-bus']">regions </ion-button>
        <ion-button size="small" class="button" [routerLink]="['/itineraire']">ligne/comune</ion-button>
        <ion-button size="small" class="button" [routerLink]="['/perte']">objet perdu </ion-button>
        <ion-button size="small" class="button" [routerLink]="['/cartographie']">client</ion-button>
        <ion-button size="small" class="button" slot="" [routerLink]="['/cartographie']">commune</ion-button>
        <ion-button size="small" class="button" [routerLink]="['/info-bus']">regions </ion-button>
        <ion-button size="small" class="button" [routerLink]="['/itineraire']">ligne/comune</ion-button>
        <ion-button size="small" class="button" [routerLink]="['/perte']">objet perdu </ion-button>
        <ion-button size="small" class="button" [routerLink]="['/cartographie']">client</ion-button>
        <ion-button size="small" class="button" slot="" [routerLink]="['/cartographie']">commune</ion-button>
        <ion-button size="small" class="button" slot="" [routerLink]="['/cartographie']">Deconnexion</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
