
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" class="logo">
        <ion-img src="../../assets/logo.png" alt="error" class="ion-img"></ion-img>
        <ion-col size="10" offset="1"><span class="text-center">votre aide pour le transport en commun</span></ion-col>
      </ion-col>
      <ion-col size-sm="8" offset-sm="2">
        <ion-row>
          <ion-col size="10" offset="1"><h4 class="text-center mt-5">Infos sur le bus à prendre</h4></ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">lieu actuel</ion-label>
          <ion-input></ion-input>
        </ion-item>        

        <ion-item>
          <ion-label position="floating"> lieu de destination</ion-label>
          <ion-input></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating"> lieu de destination</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> lieu de destination</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> lieu de destination</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> lieu de destination</ion-label>
          <ion-input></ion-input>
        </ion-item>
        
        <ion-button expand="block" class="" [routerLink]="['/data-bus']">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
