ion-button{
    --background:brown;
    margin-top: 50px;
  }
  h4{
      margin-bottom:50px
  }
  .logo{
    margin: 5px 0px 60px 0px;
  }
  .text{
    margin-top:0 auto;
  }
  h5{
      margin: 0 auto;
  }
  @media (max-width: 400px) {
    .ion-img{
      height:15px;
    }
    span{
      font-size:12px;
    }
  }
  
  @media (min-width: 400px) and (max-width: 800px) {
    .ion-img{
      height:50px;
    }
  }
  @media (min-width: 820px){
    .text{
      font-size: 25px;
    }
  }
  @media (min-width: 1020px){
    .text{
      font-size: 35px;
    }
  }
  
  
  @media (min-width: 800px){
    .ion-img{
      height:70px;
    }
  }
  ion-button{
    margin-left: 70%;
  }